body {
    margin: 0;
    padding: 0;

    background-color: #1C1C1C;
    color: #ffffff;

    font-family: "Inter", sans-serif;
}

main {
    margin: 0 auto;
    text-align: left;
    width: 550px;
    height: 550px;
    background-color: #1F2937;
}

h1 {
    font-size: 3rem;
    padding: 0;
    margin: 90px 0 10px;
    font-family: "Karla", sans-serif;
    font-weight: 900;
}

.sub-text {
    font-weight: 200;
}

h1 > span {
    padding: 0;
    color: #4ADF86;
    display: inline-block;
}

button {
    background-color: #10B981;
    color: inherit;
    border: none;
    font-size: 1.2rem;
    margin: 50px 0 20px;
    padding: 15px;
    border-radius: 6px;
}

section {
    padding: 20px;
    margin: 20px;
    border-bottom: 1px solid #2F3E53;
}

.container {
    display: flex;
    justify-self: center;
    gap: 10px;
}

label {
    font-size: 1rem;
    color: #55F991;
}

input {
    border: none;
    color: #55F991;
    background-color: #273549;
    text-align:center;
    padding: 10px ;
    margin: 2px;
    border-radius: 6px;
}

.generated-pass {
    width: 210px;
}