@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-size: 16px;
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* typography */

h1,
h3 {
    margin: 0;
}

h1 {
    color: whitesmoke;
    font-size: 3rem;
}

h2 {
    margin-top: 0;
}


h3 {
    color: #d0aaff;
    font-size: 1.25rem;
}

/* links */

a {
    color: #ef5839;
    text-decoration: underline dotted; 
}

a:hover,
a:active {
    color: #d4b44c;
}

/* layout */

header,
section,
footer {
    padding: 45px 0;
}

header,
.section-two {
    background-color: #5f29a3;
}

footer {
    text-align: center;
    font-size: 1rem;
    color: #5f29a3;
}


.container {
    width: 620px;
    margin: 0 auto;
}

.section-two {
    color: whitesmoke;
}

.section-two-image-container {
    display: flex;
    justify-content: space-between;
}

.main-image {
    width:100%;
}

.feature-image {
    width: 300px;
    border-radius: 4.6px;
}